.section-contact {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  background-color: map-get($colors, primary);
  color: map-get($colors, text-light);
  padding-block: 2rem;

  &--title {
    text-align: center;
    font-size: map-get($font-sizes, xxl);
  }
  &__container {
    padding: 5rem 4rem 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  &--link {
    display: inline-flex;
    align-items: center;
    gap: 3rem;
    color: map-get($colors, text-light);
    &:link {
      text-decoration: none;
      color: map-get($colors, text-light);
    }
    &__wrapper {
      &:nth-child(3) {
        svg {
          fill: map-get($colors, text-light);
          stroke: none;
        }
      }
      &:nth-child(1) {
        svg {
          stroke-width: 2px;
        }
      }
    }
  }
  &--svg {
    width: 4rem;
    height: 4rem;
    stroke: map-get($colors, text-light);
    stroke-width: 0.9px;
    fill: none;
  }
}
