.section-about {
  padding-inline: 10rem;
  padding-block: 10rem;
  background-color: map-get($colors, background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--img {
    width: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: right;
    width: 40%;
  }

  &--title {
    color: map-get($colors, primary);
    font-weight: map-get($font-weights, semi-bold);
    font-size: 6rem;
    padding-bottom: 2rem;
  }

  &--text {
    font-size: map-get($font-sizes, xl);
    color: map-get($colors, text-dark);
  }
}
