@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url(assets/fonts/Oswald-VariableFont_wght.ttf);
  font-weight: bold;
  font-style: normal;
}
