$colors: (
  "light": #fafafa,
  "dark": #121212,
  "dark-2": #222,
  "primary": #031d69,
  "primary-light": #212a6e,
  "accent": #044b5f,
  "background": #f0f2fe,
  "text-light": #fef0f5,
  "text-dark": #0a0003,
);

$font-sizes: (
  "xxs": 1rem,
  "xs": 1.2rem,
  "s": 1.4rem,
  "base": 1.6rem,
  "m": 2rem,
  "l": 2.4rem,
  "xl": 2.8rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
);

$font-weights: (
  "tiny": 400,
  "regular": 500,
  "medium": 600,
  "semi-bold": 700,
  "bold": 800,
);
