$colors: (
  "light": #fafafa,
  "dark": #121212,
  "dark-2": #222,
  "primary": #000c31,
  "primary-light": #212646,
  "accent": #0aa6d1,
  "background": #f0f2fe,
);

$font-sizes: (
  "xxs": 1rem,
  "xs": 1.2rem,
  "s": 1.4rem,
  "base": 1.6rem,
  "m": 2rem,
  "l": 2.4rem,
  "xl": 2.8rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
);

$font-weights: (
  "tiny": 400,
  "regular": 500,
  "medium": 600,
  "semi-bold": 700,
  "bold": 800,
);
